*{
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: center;
}
.article {
    margin:8px;
    padding:16px;
    background-color: bisque;
}
.articles-list{
    display:flex;
    flex-direction: column;
}
.article{
    flex-basis: 300px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

