*{
    box-sizing: border-box;
}
.header{
    background-color: darkturquoise;
    height:40px;
    width:100%;
    position:fixed;
    z-index:2;
   
}

.nav-list{
    list-style-type: none;
    height:40px;
    margin:0;
}
.nav-item{
    display: inline-block;
    color:white;
    margin-left:16px;
    line-height: 40px;
}
.content{
    background-color: beige;
    height:5000px;
}
.head{
    height:200px;
    width:200px;
    background-color: aquamarine;
    position:relative;
    top:150px;
    margin-left:auto;
    margin-right:auto;
   
}
.ear{
    background-color: brown;
    width:40px;
    height:60px;
    display:inline-block
}
.ear_right{
    position:relative;
    bottom:60px;
    right:40px;
}
.ear_left{
    position:relative;
    bottom:60px;
    left:155px;
}
.eye{
    display:inline-block;
    height:30px;
    width:30px;
    background-color: grey;
    border-radius: 50%;
}
.eye_right{
    position:relative;
    right:48px;
    bottom:-50px;
}
.eye_left{
    position:relative;
    left:8px;
    bottom:-50px;
}